.favorite-card {
    border-radius: 12px;
    overflow: hidden;
    background: white;
    transition: 0.2s;
}

.favorite-card:hover {
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
}

.favorite-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.favorite-title {
    font-size: 15px;
    font-weight: 600;
}

.favorite-price {
    color: #d40000;
    font-weight: 700;
}

.remove-btn {
    cursor: pointer;
    color: #ff4040;
}
