.register-container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f8f8;
    padding-top: 40px;
}

.register-box {
    width: 420px;
    background: white;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.register-btn {
    background: #FFD400;
    border: none;
    font-size: 17px;
    border-radius: 12px;
}

.register-btn:hover {
    background: #e6bf00;
}
