<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Danh sách sản phẩm - EV Trading</title>
    <link rel="stylesheet" href="../static/css/listing.css" />
  </head>
  <body>
    <h2 class="title">Danh sách Xe & Pin đã qua sử dụng</h2>

    <div class="product-container">
      <div th:each="item : ${items}" class="product-card">
        <img th:src="@{/${item.image}}" alt="EV image" />
        <h3 th:text="${item.name}"></h3>
        <p th:text="'Dung lượng pin: ' + ${item.battery}"></p>
        <p
          class="price"
          th:text="${#numbers.formatInteger(item.price, 0)} + 'đ'"
        ></p>
        <a class="btn" th:href="@{/detail/{id}(id=${item.id})}">Xem chi tiết</a>
      </div>
    </div>
  </body>
</html>
